.description {
  font-size: 13px;
  color: gray;
}
.icon {
  width: 30px;
  height: 40px;
  font-size: 34px;
  color: #cc9a9a;
  margin: auto 0;
  transition: color 0.2s ease-out;
  cursor: pointer;
}
.icon:hover {
  color: #af5b5e;
}

.icon-pause,
.icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.icon-pause {
  margin-right: 5px;
}

.icon-play {
  font-size: 15px;
}

.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}
